torch --index-url https://download.pytorch.org/whl/cu126
torchvision --index-url https://download.pytorch.org/whl/cu126
numpy
pandas
tf-keras
networkx
torchinfo
tqdm
transformers
datasets
optree
wandb
PyYAML